*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.node circle{
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node rect{
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node rect.meng{
  fill: #fff;
  stroke: #fff;
  stroke-width: 3px;
}

.node text{
  fill: #000;
  pointer-events: none;
  text-anchor:middle;
}

.node .mainNode{
  cursor: pointer
}
.node .mainNode circle{
  fill:#d7ebff;
}
.node .mainNode .nodeContracted{
  fill:#c7c7e2;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*.titleTip{
  display: none;
}*/