*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
  font-size: 62.5%;
}
.node circle{
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node rect{
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text{
  fill: #000;
  pointer-events: none;
  text-anchor:middle;
  font-size: 1.2rem;
  transform: translate(0,0.25rem);
  display: inline-block;
}

.node .mainNode{
  cursor: pointer
}
.node .mainNode circle{
  fill:#d7ebff;
  transition: fill 0.5s;
}
.node .mainNode .nodeContracted{
  fill:#c7c7e2;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.node .pin{
  cursor: pointer;
}

.tool > div{
  float: left;
  margin-left: 1rem
}